.image-loader {
    height: 100%;
    width: 100%;
  }
  
  .main-loader {
    height: 20rem;
    width: 30rem;
    margin: auto; /* Center the loader horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .start-loader {
    margin-top: 20rem;
  }
  