@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-left: 40rem;
}

.header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: transparent;
  background-color: #0B0C15;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid #9aa0a6;
  box-shadow: 2px 7px 15px #9347FF;
  font-family: 'Dekko', sans-serif; /* Use Dekko font */
}

.burger-name{
  display: none;
}
  .right {
    float: right;
    font-size:20px;
    font-family: "Dekko", sans-serif;
    font-size: large;
    font-weight: bold;
    
  }
  .logoSize{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Dekko', sans-serif; /* Use Dekko font */
}
li {
  padding-left: 55px;
  font-family: 'Dekko', sans-serif; /* Use Dekko font */
  font-weight: bold;
  font-size: 1.24vw;
}
li a:hover {
    background-color: #111;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    color: white; /* Set text color to white */
    transition: text-shadow 0.3s ease-in-out;
}


  .border{
    padding:10px;
  }


  .logoSize {
    width: 100%;
    height: 73px;
    
  }
  .logo-image{
    width: 223px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .innerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
}

.logo-image {
  display: flex;
  align-items: center;
}

link[rel="icon"] {
  border-radius: 50%;
  overflow: hidden;
}
link[rel="icon"] {
  background-color: transparent;
}
  @media screen and (max-width: 961px) {
    .burger-name{
      display: block;
      margin-left: 37vw;
      padding-top: 16px;
      color: white;
    }
    .logo-image{
      width: 180px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .logoSize{
      width: 100%;
      height: 100%;
      padding-left: 10px;
      margin-top: 18px;
      
      
    }
    .reactive-header {
      display: block;
      height: 100px;
      background-color:#111320;
      position: fixed;
      right: 0%;
      top: 0%;
      z-index: 1000;
      height: 100vh;
      width: 70%;
 
    }
    .popout-logo-start-img{
      width: 230px;
      align-items: center;
    }
    .popout-logo-start{
      margin-top: 50px;
    }
    .reactive-header-tags{
      margin-top: 70px;
      height: 300px;
      display: flex;
      flex-direction: column;
      color: #8d9297;
      font-family: "Dekko", sans-serif;
      font-size: 100px;
      font-weight: bold;
      align-items: center;

    }
    li{
      list-style: none;
    }
    li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    font-size: 5vw;
    }
    .background-drawer {
      display: block;
      height: 100px;
      background-color: #1F1838;
      opacity: 0.7;
      position: fixed;
      right: 0%;
      top: 0%;
      z-index: 1;
      height: 100vh;
      width: 100%;
    }
    .header {
      position: fixed;
      overflow: hidden;
      width: 100%;
      top: 0;
      background-color: transparent;
      background-color: #0B0C15;
      height: 84px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 0.5px solid #9aa0a6;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      box-shadow: 2px 7px 15px #9347ff;
    }
    .innerheader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
  }
  .sociala{
    color: wheat;
    font-size: 1rem;
    margin-top: 3rem;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
  }

  }