@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.Events {
    padding-top: 80px;
}

.Event-title {
    padding-left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Use a bold font weight */
    color: #2C3E50; /* Change the text color */
    text-shadow: 2px 1px #34495E; /* Adjusted text shadow */
    font-size: 3vw;
    transition: all 0.3s ease-in-out;
}

.image-card {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.event-image {
    padding-top: 25px;
    width: 45vw;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.card-start {
    padding-top: 150px;
}

.card-description {
    padding-top: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
    text-indent: 2em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; /* Use a more standard font */
    font-weight: 400; /* Regular font weight */
    color: #666; /* Darker color for better contrast */
    line-height: 1.5; /* Improved line spacing */
    widows: 2;
}

.form-control {
    text-transform: none;
}

.try {
    color: #E74C3C; /* Change the color to a contrasting one */
    transition: color 0.3s ease-in-out;
}

.maintainsize {
    height: 1.8rem;
    width: 1.8rem;
}

@media screen and (max-width: 961px) {
    .event-image {
        padding-top: 25px;
        width: 76vw;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
