@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.sub-text {
  font-family: "Dekko", sans-serif;
  margin-left: 4.7rem;
  color: white;
  text-shadow: 5px 3px #6835b6;
  font-size: 1.6rem;
  margin-bottom: 20px;
}


.The-text,
sub-sub-classname {
  font-family: "Dekko", sans-serif;
}

.for-main-eve{
  padding-bottom: 50px;
}

.main-align {
  text-align: justify;
}

.The-Headtext {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #6835b6, 0 0 20px #6835b6, 0 0 30px #6835b6;
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 60px;
}

.youtube-iou {
  max-width: 100%; /* Ensures the video doesn't exceed its container */
  height: auto; /* Allows the video to maintain its aspect ratio */
  margin: 0 auto; /* Centers the video horizontally within its container */
}

.sub-sub-classname {
  font-size: 1.7rem;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .sub-text {
    font-family: "Dekko", sans-serif; /* Change to Dekko */
    margin-left: 3.1rem;
    color: white;
    text-shadow: 5px 3px #6835b6;
    font-size: 1rem;
  }

  .sub-sub-classname {
    font-size: 0.8rem;
  }
  .youtube-iou {
    max-width: auto; /* Ensures the video doesn't exceed its container */
    height: auto; /* Allows the video to maintain its aspect ratio */
    margin: 0 auto; /* Centers the video horizontally within its container */
  }  
  .youtube-iou {
    max-width: 90vw; /* Set maximum width relative to the viewport width */
  }
  .The-Headtext {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #6835b6, 0 0 20px #6835b6, 0 0 30px #6835b6;
    margin-bottom: 20px;
    text-align: justify;
    padding-left: 39px;
  }
}

@media screen and (max-width: 1200px) {
  /* Styles for large screens */
  .sub-sub-classname {
    font-size: 0.8rem;
  }
  .The-Headtext {
    font-size: 1.4rem;
    padding-left: 50px;
  }
}

@media screen and (max-width: 900px) {
  /* Styles for medium-sized screens */
  .sub-sub-classname {
    font-size: 0.8rem;
  }
  .The-Headtext {
    font-size: 1.2rem;
    padding-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  /* Styles for small screens */
  .sub-sub-classname {
    font-size: 0.8rem;
  }
  .The-Headtext {
    font-size: 1rem;
    padding-left: 30px;
  }
}