@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.sub-text {
  font-family: "Poppins", sans-serif;
  margin-left: 4.7rem;
  color: white;
  text-shadow: 5px 3px #6835b6;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.for-main-eve{
  padding-bottom: 50px;
}

.main-align {
  text-align: justify;
}

.sub-sub-classname {
  font-size: 1.7rem;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .sub-text {
    font-family: "Poppins", sans-serif;
    margin-left: 3.1rem;
    color: white;
    text-shadow: 5px 3px #6835b6;
    font-size: 1rem;
  }
  .sub-sub-classname {
    font-size: 1.4rem;
  }
  .youtube-iou{
    height:250px;
    width: 90vw;
  }
}
