@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.Footer-start{
   
    width: 100%;
    height:300px;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    
    
}
.containment-pic{
    width: 100%;
    height: 100%;

}
.containment{
    
    width: 20rem;
    margin-bottom: 50px;

}

.Footer-main{
    background-color: #0B0C15;
}

/* .footer-allin{
    display: flex;
    flex-direction: row;
    
    
} */
.spacing{
    margin-left: 40px;
}
.copyrights{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media  screen and (max-width:961px) {
    .copyrights{
        color: aliceblue;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-bottom: 200px
    }
    .spacing{
        margin-left: 30px;
    }
}