@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.Footer-start{
   
    width: 100%;
    height:300px;
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 20px;
    
    
}

.Footer-main{
    background-color: #0B0C15;
}

/* .footer-allin{
    display: flex;
    flex-direction: row;
    
    
} */
.spacing{
    padding-left: 40px;
}
.copyrights{
    color: aliceblue;

}
.copyrights{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}