.changes-cor {
  margin-bottom: 100px;
}

@media screen and (max-width: 961px) {
  .carousel-item img {
    width: 50% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 400px;
    margin: auto;
  }
}
