/* Import fonts */

/* *{
  overflow: hidden;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.head {
  text-align: center;
}

.headText {
  padding-top: 200px;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: 'Abhaya Libre', serif;
  font-weight: bold;
  text-shadow: 6px 2px #183F46;
  line-height: 1; /* Added line-height */
  letter-spacing: 3px;
}

.for-deer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-deer::before {
  content: '';
  background-image: url('./deer.png');
  background-repeat: no-repeat;
  background-size: 28rem;
  position: absolute;
  left: 50.5%; /* Center align by setting left to 50% */
  transform: translateX(-50%); /* Adjust to center the image precisely */
  top: 29rem;
  width: 28rem; /* Adjust the width if needed */
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  opacity: 0.3;
}

.typingtext {
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-shadow: 5px 3px #6835b6;
  line-height: 1.2; /* Added line-height */
}

@media screen and (max-width: 961px) {
  .headText {
    padding-top: 200px;
    font-size: 40px;
    color: white;
    text-align: center; /* Corrected typo */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 6px 2px #183F46;
    line-height: 1.2; /* Added line-height */
    font-size: 1.4rem;
  }

  .typingtext {
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-shadow: 4px 3px #6835b6;
    line-height: 1.2; /* Added line-height */
  }

  .for-deer::before {
    content: '';
    background-image: url('./deer.png');
    background-repeat: no-repeat;
    background-size: contain; /* Use 'contain' to ensure the entire image fits within the container */
    position: absolute;
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust to center the image */
    top: 50%; /* Adjust the top position as needed */
    width: 80%; /* Adjust the width as needed */
    height: 100%;
    z-index: -1000;
    opacity: 0.3;
  }
  
}
@media screen and (max-width: 768px) {
  .for-deer::before {
    top: 38%; /* Adjust the top position for smaller screens */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .for-deer::before {
    top: 50%; /* Adjust the top position for medium-sized screens */
  }
}

@media screen and (min-width: 1025px) {
  .for-deer::before {
    top: 60%; /* Adjust the top position for larger screens */
  }
}

