/* *{
  overflow: hidden;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.head {
  padding-left: 290px;
  padding-top: 80px;
}
.headText {
  font-size: 65px;
  color: white;
  text-align: centre;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}


.for-deer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-deer::before{
  content: '';
  background-image: url('./deer.png');
  background-repeat: no-repeat;
  background-size: 43rem;
  position: absolute;
  left: 18rem;
  top: 20rem;
  width: 66%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  opacity: 0.3;

}