@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

body {
  background-color: #000;
  margin: 0;
  color: var(--bs-body-color);
  background-image: url('/workspaces/Rotaract_website_2022/frontend/src/components/Board/18 (4).png');
  background-size: contain; /* Adjust to 'contain' or other values as needed */
  background-position: center; /* Adjust to customize the position */
  background-repeat: repeat; /* Ensure the image doesn't repeat */  
  font-family: 'Dekko', sans-serif;
}

.image-for-bod {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid var(--bs-gray-dark);
  overflow: hidden;
}

.image-for-div {
  margin-top: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid var(--bs-blue);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); 
}

.flip-card {
  background-color: var(#000);
  width: 300px;
  height: 365px;
  perspective: 1000px;
  margin: 20px;
}

.Bod-name {
  font-family: 'Dekko', sans-serif;
  font-weight: bold; /* Added to make the font bold */
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--bs-blue); /* Changed the color to blue */
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.5); 
}

.card-outer {
  padding: 20px;
  transition: transform 0.5s;
}

.card-outer:hover {
  transform: scale(1.05);
}

.for-spacing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flip-card-inner {
  position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-front {
  background: rgba(23, 23, 23, 0.663);
  color: var(--bs-white);
  padding: 20px;
  transition: background 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.flip-card-front .image-for-bod {
  margin-top: auto; /* Push the image to the top */
  margin-bottom: auto; /* Push the image to the bottom */
}

.flip-card:hover .flip-card-front {
  background: rgba(13, 9, 42, 0.8);
}

.flip-card-back {
  background: rgb(1, 0, 44, 0.4);
  transform: rotateY(180deg);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.flip-card-back .image-for-div {
  margin-top: auto; /* Push the image to the top */
  margin-bottom: auto; /* Push the image to the bottom */
}

.quote-class {
  font-family: 'Dekko';
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: var(--bs-white);
  margin: 10px 0;
}

.Our-Board {
  font-family: 'Dekko', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  color: #c9e4ff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Adjust the values as needed */
}

.bod-socials {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-60%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adjust this value to control the distance from the bottom */
}

.bod-socials a {
  margin: 0 10px; /* Adjust this value to control the spacing between icons */
  color: var(--bs-blue);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.bod-socials a:hover {
  color: var(--bs-yellow);
}

@media screen and (max-width: 961px) {
  .flip-card {
    width: 266px;
    height: 365px;
  }

  .card-outer {
    padding: 20px;
  }
}

